head {
    display: none;
}

:root {
    --green-light-pcf: #ccf6dd;
    --green-light-2-pcf: #a9eec5;
    --green-pcf: #43d87e;
    --green-pcf-2: #2EC269;
    --green-pcf-3: #3ABA6D;
    --green-dark-pcf-2: #1D8A48;
    --green-dark-pcf: #013B18;
    --yellow-pcf: #e2ff3c;
    --yellow-pcf-dark-2: #F2E424;
    --yellow-pcf-dark: #AC8417;
    --blue-light-pcf: #E2ECFF;
    --blue-light-pcf-2: #D7E3FC;
    --blue-light-pcf-3: #C1D5FF;
    --blue-pcf-1: #3A7AFF;
    --blue-pcf: #2644f9;
    --blue-dark-pcf: #051DB1;
    --white: #FFFFFF;
    --gray-light-pcf: #F1F3F4;
    --gray-light-3-pcf: #EAECEE;
    --gray-light-2-pcf: #D2D7DC;
    --gray-light-1-pcf: #BEC5CC;
    --gray-pcf: #8F9CA3;
    --gray-dark-pcf-2: #5C6970;
    --gray-dark-pcf-1: #576167;
    --gray-dark-pcf: #42474A;
    --black: #000000;
    --blue-dark-intel: #0a001f;
}

:root {
    --font-weight-light: 400;
    --font-weight-regular: 500;
    --font-weight-bold: 700;
}

